@model Assign3Cumulative___Narmin_Gurbanli.Models.Teacher
@{
    ViewBag.Title = "Show";
}


<div id="containershow">
    <style>

        .uplink {
            margin-left: 20px;
        }
    </style>
    <nav>
        <a class="navlink" href="/Teacher/List">Back to Teachers</a>
        <a class="dellink" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>
        <a class="uplink" href="/Teacher/Update/@Model.TeacherId">Update</a>
    </nav>
    <h2>@Model.TeacherFname @Model.TeacherLname</h2>
    <p>This teacher's employee number is @Model.EmployeeNumber</p>
    <p>This teacher was hired on @Model.HireDate.ToString("yyyy-MM-dd")</p>
    <p>This teacher's salary is @Model.Salary per hour</p>
    
</div>





